@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: #15803d;
  /* green-700 */
  --color-primary-foreground: #ffffff;
  --color-secondary: #1d4ed8;
  /* blue-700 */
  --color-secondary-foreground: #ffffff;

  /* Base Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* UI Colors */
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --card: #ffffff;
  --card-foreground: #171717;
  --border: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;

  --color-primary: #22c55e;
  --color-secondary: #60a5fa;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --card: #18181b;
  --card-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #d4d4d8;
}

*,
*::before,
*::after {
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}